In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../../experiments/csvs/sho_GAN_hypertune_biggest_ever.csv', index_col=0)
df.head(5)

        mse                                             hypers
0  0.136264  {'gan_niters': 2000, 'gan_d_lr': 0.001, 'gan_g...
1  0.008705  {'gan_niters': 2000, 'gan_d_lr': 0.001, 'gan_g...
2  0.419072  {'gan_niters': 2000, 'gan_d_lr': 0.001, 'gan_g...
3  0.001228  {'gan_niters': 2000, 'gan_d_lr': 0.001, 'gan_g...
4  0.161407  {'gan_niters': 2000, 'gan_d_lr': 0.001, 'gan_g...

In [4]:
from pandas.io.json import json_normalize

In [10]:
res = pd.concat((df.mse, json_normalize(df.hypers.apply(eval))), axis=1)

In [26]:
top_n = 10
top_2k = res.sort_values(by='mse').loc[res.gan_niters==2000].iloc[0:top_n]
top_5k = res.sort_values(by='mse').loc[res.gan_niters==5000].iloc[0:top_n]
top_10k = res.sort_values(by='mse').loc[res.gan_niters==10000].iloc[0:top_n]

In [28]:
merge1 = pd.merge(top_2k, top_5k, on=list(res.columns.drop(["mse", "gan_niters"])))

In [30]:
merge2 = pd.merge(merge1, top_10k, on=list(res.columns.drop(["mse", "gan_niters"])))

In [31]:
merge2

,mse_x,gan_niters_x,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers,mse_y,gan_niters_y,mse,gan_niters
0,0.000198,2000,0.001,0.001,0.999,64,8,64,6,0.000002,5000,3.751379e-09,10000
1,0.000404,2000,0.001,0.001,0.999,64,10,64,2,0.000001,5000,1.021479e-09,10000

In [33]:
top_2k

,mse,gan_niters,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers
54,0.000198,2000,0.001,0.0010,0.9990,64,8,64,6
231,0.000265,2000,0.001,0.0002,0.9990,64,4,64,8
60,0.000404,2000,0.001,0.0010,0.9990,64,10,64,2
57,0.000476,2000,0.001,0.0010,0.9990,64,10,32,4
44,0.000519,2000,0.001,0.0010,0.9990,64,6,64,2
51,0.000573,2000,0.001,0.0010,0.9990,64,8,32,8
19,0.000591,2000,0.001,0.0010,0.9990,32,8,32,8
270,0.000593,2000,0.001,0.0002,0.9999,32,6,64,6
37,0.000727,2000,0.001,0.0010,0.9990,64,4,64,4
303,0.000739,2000,0.001,0.0002,0.9999,64,6,64,8

In [32]:
top_5k

,mse,gan_niters,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers
1746,3.740350e-07,5000,0.0010,0.0010,0.999,32,8,32,6
1780,5.609278e-07,5000,0.0010,0.0010,0.999,64,8,64,2
2920,9.156799e-07,5000,0.0001,0.0010,0.999,64,6,32,2
1738,9.293570e-07,5000,0.0010,0.0010,0.999,32,6,32,6
1788,1.139131e-06,5000,0.0010,0.0010,0.999,64,10,64,2
1740,1.390285e-06,5000,0.0010,0.0010,0.999,32,6,64,2
2337,1.409946e-06,5000,0.0002,0.0010,0.999,64,4,32,4
2344,1.566321e-06,5000,0.0002,0.0010,0.999,64,6,32,2
1935,1.586711e-06,5000,0.0010,0.0002,0.999,32,6,64,8
1782,1.792397e-06,5000,0.0010,0.0010,0.999,64,8,64,6